body {
	margin:0;
	font-family: Nunito;
}

.pimg1 {
	background-image: url('image1.jpg');
	height: 590px;
}

.pimg1, .pimg2, .pimg3 {
	position:relative;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	opacity:.7;
}

.ptext {
	position:absolute;
	top:50%;
	text-align:center;
	width:100%;
	color:#fff;
}

.border {
	padding:20px;
	letter-spacing:8px;
	background-color:#111;
	color:#fff;
	font-size:27px;
}

section {
	background-color:#fff;
	text-align: center;
	color:#000;
	padding:50px 200px;
}

.pimg2 {
	background-image: url('image2.jpg');
	height: 333px;
}

.trans {
	background-color: transparent;
}

.dark {
	background-color: black;
	color: white;
}

.pimg3 {
	background-image: url('image3.jpg');
	height: 333px;
}